body{
    background-color: blueviolet;
    background-image: linear-gradient(100deg,#11bef7,#e639c9);
  }
  .a{
    height: 400px;
    width: 450px;
    margin-left: 32%;
    margin-top: 5%;
    border: solid purple;
    border-radius: 5%;
    background-color:#13e3eb;
    background-image: linear-gradient(45deg,#11bef7,#f71111);
  }
  .a2{
    padding-left: 585px;
  }
  .a3{
    padding-left: 175px;
  }
  .a4{
    padding-left: 175px;
  }
  .a5{
    padding-left: 60px;
  }
  .a6{
    padding: 13px;
    background-color: #e9ebf0;
    width: 65%;
    border: double;
    margin-left: 13%;
  }
  .a7{
    padding: 10px;
    width: 72%;
    margin-left: 13%;
    background-color: cornflowerblue;
    background-image: linear-gradient(45deg,cornflowerblue,#88c3eb);
  }
  